<h4>Specialization list</h4>
<ul id = "spec_list"></ul>
<h4>Doctors list</h4>
<ul id = "doctors_list"></ul>
<div class = "app">
	<table id="work-days" border="1">
	</tr>
	</table>
	<div></div>
	<table id = "timetable" border =1>
		
		</table>
</div>