<h2>Medical Ticket Service</h2>
<div class = "app">
	<table id = "timetable" border =1>
		<thead>
        <tr>
            <td id="timetable_th_1"></td>
            <td id="timetable_th_2" >
			    <span id="ticket_th__0800" class="hour">08:00</span>
				<span id="ticket_th__0900" class="hour">09:00</span>
				<span id="ticket_th__1000" class="hour">10:00</span>
				<span id="ticket_th__1100" class="hour">11:00</span>
				<span id="ticket_th__1200" class="hour">12:00</span>
				<span id="ticket_th__1300" class="hour">13:00</span>
				<span id="ticket_th__1400" class="hour">14:00</span>
				<span id="ticket_th__1500" class="hour">15:00</span>
				<span id="ticket_th__1600" class="hour">16:00</span>
				<span id="ticket_th__1700" class="hour">17:00</span>
				<span id="ticket_th__1800" class="hour">18:00</span>
			</td>
        </tr>
		</thead>
		<tbody id = "tablebody">
		</tbody>
		</table>
</div>