<h2>Medical Ticket Service</h2>
<div class = "app">
	<table id="work-days" border="1">
	    <tr>
            <td id="wd_th_1"></td>
            <td id="wd_th_2">
				<div id="wd_th_sun" class="work-days">Sunday</div>
			    <div id="wd_th_mon" class="work-days">Monday</div>
				<div id="wd_th_tue" class="work-days">Tuesday</div>
				<div id="wd_th_wed" class="work-days">Wednesday</div>
				<div id="wd_th_thu" class="work-days">Thursday</div>
				<div id="wd_th_fri" class="work-days">Friday</div>
				<div id="wd_th_sat" class="work-days">Saturday</div>								
			</td>
        </tr>
	</table>
	<div>ddd</div>
	<table id = "timetable" border =1>
		<thead>
            <td id="timetable_th_1"></td>
            <td id="timetable_th_2" >
				<div id="ticket_th__0800" class="hour">08:00</div>
				<div id="ticket_th__0900" class="hour">09:00</div>
				<div id="ticket_th__1000" class="hour">10:00</div>
				<div id="ticket_th__1100" class="hour">11:00</div>
				<div id="ticket_th__1200" class="hour">12:00</div>
				<div id="ticket_th__1300" class="hour">13:00</div>
				<div id="ticket_th__1400" class="hour">14:00</div>
				<div id="ticket_th__1500" class="hour">15:00</div>
				<div id="ticket_th__1600" class="hour">16:00</div>
			</td>
		</thead>
		<tbody id = "tablebody"></tbody>
		</table>
</div>