<div class = "dropdown clearfix">
	<h4 id = "spec_header">Specializations</h4>
	<ul id = "spec_list" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style = "display: block; position: static"></ul>
</div>
<div class = "dropdown clearfix">
	<h4>Doctors list</h4>
	<ul id = "doctors_list" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style = "display: block; position: static"></ul>
</div>
<div class = "app">
	<table id = "work-days" class="table table-bordered table-striped table-hover"></table>
	<table id = "timetable" class="table table-bordered table-striped table-hover"></table>
</div>