body {
	background-color:#e5e5e5;
		
}

.app {
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	width: 1225px;
	position:relative;
}

#main_container {
	margin-top:21px;
	position:absolute;
	background-color: rgba(200,200,200,0.5);
	width:940px;
	height:94px;
}

.ticket {
	color:#0000aa;
	background-color:#ffffff;
	width:220px;
	height:200px;
	position:absolute;
	border:1px solid gray;
	padding:5px;
	background-image:url('../img/cell.jpg');
}

.ticket-small {
	margin-top:11px;
	border:1px solid gray;
	width:45px;
	height:70px;
	float:left;
	background-color:#ffffbb;
	-webkit-border-radius: 10px 10px;
	-moz-border-radius: 10px / 10px;
	border-radius: 10px / 10px;
}

.ticket_in_tt {
	background-color:#ffffbb;
	width:100%;
	height:100%
}

.ticket-line {
	text-align:left;
	padding-left:5px;
}

.ticket-title {
	color:#000000;
	font-size:14pt;
}

.time-scale {
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
}

.time-scale th {
	width:91px;
	text-align:center;
}

.grid {
	position:absolute;
	border-collapse:collapse;
}

.grid td {
	width:92px;
	height:90px;
	border:1px dotted gray;
}

label {
	color:#000000;
	font-weight:bold;
}

.work {
	background-color:#ffffff;
}

.notwork{
	background-color:#ffaaaa;
}

.dinnerbreak {
	background-color:#aaffaa;
}

#timetable {
	background-color: #E6E6FA;
	width:1225px

}
#work-days
{
	background-color: #E6E6FA;
	width:815px;
	margin-left:auto;
	margin-right:auto;
}

#work-days, #timetable td  {
	color: white;
	background-color: #8F8781;
	font-weight:normal;

}

#work-days, #timetable div {
	text-align: center;
	
	color: white;

}


 .hour,  .half, .quarter, .work-days
 {
	float:right; 
    margin-left:0px; 
	

 }

.doc
{
	 width: 77px;
}
.work-days, .hour
 {    
     border: 1px solid black;
     float: left;
     font-size: 16px;
	 width: 102px;
    
}
  
  .half
  {    border: 1px solid black;
      float: left;
      font-size: 10px;
      width: 50px;
	 }
  .quarter
  {    border: 1px solid black;
      float: left;
      font-size: 10px;
     width: 24px;
	  }
#timetable td div.color_ticket
{
	background-color:#3300CC;
}
table
{
	border : 1px;
	border-spacing : 0px; 
}
 td 
 {
    
    border: 1px ;
  }
