body {
	background-color:#e5e5e5;
}

.app {
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	width:940px;
	position:relative;
}

#main_container {
	margin-top:21px;
	position:absolute;
	background-color: rgba(200,200,200,0.5);
	width:940px;
	height:94px;
}

.ticket {
	color:#0000aa;
	background-color:#ffffff;
	width:220px;
	height:200px;
	position:absolute;
	border:1px solid gray;
	padding:5px;
	background-image:url('../img/cell.jpg');
}

.ticket-small {
	margin-top:11px;
	border:1px solid gray;
	width:45px;
	height:70px;
	float:left;
	background-color:#aaaaaa;
	-webkit-border-radius: 10px 10px;
	-moz-border-radius: 10px / 10px;
	border-radius: 10px / 10px;
}

.ticket-line {
	text-align:left;
	padding-left:5px;
}

.ticket-title {
	color:#000000;
	font-size:14pt;
}

.time-scale {
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
}

.time-scale th {
	width:91px;
	text-align:center;
}

.grid {
	position:absolute;
	border-collapse:collapse;
}

.grid td {
	width:92px;
	height:90px;
	border:1px dotted gray;
}

label {
	color:#000000;
	font-weight:bold;
}

.work {
	background-color:#ffffff;
}

.notwork{
	background-color:#ffaaaa;
}

.dinnerbreak {
	background-color:#aaffaa;
}

#timetable {
	background-color: #E6E6FA;
	width:100%
}
#timetable td {
	color: white;
	background-color: #8F8781;
	font-weight:normal;
}

#timetable div {
	text-align: center;
	background-color: #00882D;
	color: white;
	margin-right: 2px;
	float: left;
}

#timetable .red {
    background-color: red;
}

 .hour
 {    
     border: 1px solid black;
     float: left;
     font-size: 16px;
     width: 102px;
	 }
  
  .half
  {    border: 1px solid black;
      float: left;
      font-size: 10px;
      width: 50px;
	 }
  .quarter
  {    border: 1px solid black;
      float: left;
      font-size: 10px;
      width: 24px;
	  }
table
{
	border : 1px;
	border-spacing : 0px; 
}
 td 
 {
    
    border: 1px ;
  }
