<!DOCTYPE html>
<html>
<head>
	<title>MTS</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

<div id="layout">
	<div id="header">
		<div class = "row-fluid">
		    <div class = "span7">
				<div id = "head">
					<img width="25%" height="89" src="/assets/head.gif" >
				</div>
				<div id="logo" class = "offset1">
					<a class="brand" href="/"><h1>Medical Ticket Service</h1></a>
				</div>
			</div>
			
			<div class = "span5" id = "login">
				<div class = "auth_win">
					<form class = "form">
						<input type="text" class="input-medium" name = "email" placeholder="Email">
						<input type="password" class="input-medium" name = "password" placeholder="Password">
						<button type = "button" id = "login_btn" class="btn">Log in</button>
					</form>
					<div class = "greet_win">
						<div class = "greeting"></div>
						<a href = "#" id = "logout_link">Log out</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="container-fluid">
		<div class = "row-fluid">
			<div class = "span10">
				<%= yield %>
			</div>
			<div class = "span2">
				<h4>My tickets</h4>
				<div class = "content_right"></div>
			</div>
		</div>
	</div>	

	<div id="footer">
		<div class="elki">
			<center style='padding-top: 40px;'><img width="25%" height="89" src="/assets/elki_6de.gif" alt="new year 2013"><img width="25%" height="89" src="/assets/elki2_6de.gif" alt="new year 2013"><img width="25%" height="89" src="/assets/elki_6de.gif" alt="new year 2013"><img width="25%" height="89" src="/assets/elki2_6de.gif" alt="new year 2013">	</center>
		</div>
	</div>
</div>
</body>
</html>
